
       <div class="window" style="margin: 32px; width: 250px">
            <div class="title-bar">
                <div class="title-bar-text">Pildora 98.css</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>Seguro que lo estais?</p>
                    <div class="field-row">
                      <input type="checkbox" id="example1">
                      <label for="example1">Se puede seleccionar</label>
                    </div>
                   <div class="field-row">
                      <input checked type="checkbox" id="example2">
                      <label for="example2">Seleccionado</label>
                    </div>
                    <div class="field-row">
                      <input disabled type="checkbox" id="example3">
                      <label for="example3">Seleccion Inactiva</label>
                    </div>
                    <div class="field-row">
                      <input checked disabled type="checkbox" id="example4">
                      <label for="example4">Seleccionado e Inactivo</label>
                    </div>
                </div>
             </div>
           
        <div class="window" style="margin: 32px; width: 250px">
                  <div class="title-bar">
                     <div class="title-bar-text">Pildora 98.css</div>
                         <div class="title-bar-controls">
                              <button aria-label="Minimize"></button>
                              <button aria-label="Maximize"></button>
                              <button aria-label="Close"></button>
                         </div>
                   </div>
                       <div class="window-body">
                          <p>Mejor compañero Fatigas</p>
                <fieldset>
                       <legend>Escoger Uno</legend>
                         <div class="field-row">
                            <input id="radio13" type="radio" name="fieldset-example2">
                             <label for="radio13">Spiderman</label>
                         </div>
                         <div class="field-row">
                             <input id="radio14" type="radio" name="fieldset-example2">
                              <label for="radio14">Thor</label>
                         </div>
                         <div class="field-row">
                              <input id="radio15" type="radio" name="fieldset-example2">
                               <label for="radio15">Capitan America</label>
                         </div>
                        <div class="field-row">
                               <input id="radio16" type="radio" name="fieldset-example2">
                                 <label for="radio16">Son Goku</label>
                         </div>
                </fieldset>
                  
            </div>
        </div>
        
        <div class="window" style="margin: 32px; width: 250px">
            <div class="title-bar">
                <div class="title-bar-text">Pildora 98.css</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                      <div class="window-body">
                            <p>No os ha gustado?</p>
                            <div class="field-row">
                                 <label for="text17">Os dejare poner uno</label>
                                    <input id="text17" type="text" />
                            </div>
                            <div class="field-row-stacked" style="width: 200px">
                                 <label for="text18">Marvel?(Linea 1)</label>
                                    <input id="text18" type="text" />
                            </div>
                            <div class="field-row-stacked" style="width: 200px">
                                <label for="text19">Anime? (Linea 2)</label>
                                        <input id="text19" type="text" />
                            </div>
                            <button><a href="98.css3">ok</a></button>
                             
                     </div>
        </div>
      
  