<div class="window" style="margin: 32px; width: 250px">
            <div class="title-bar">
            <div class="title-bar-text">Pildora 98.css</div>
            <div class="title-bar-controls">
                <button aria-label="Minimize"></button>
                <button aria-label="Maximize"></button>
                 <button aria-label="Close"></button>
         </div>
         </div>
            <div class="window-body">
              <p>Juego SuperHeroes</p>
             <div class="field-row">
                 <label for="text17">SuperPoder</label>
                 <input id="text17" type="text" />
            </div>
                      <div class="field-row-stacked" style="width: 200px">
                          <label for="text20">Description</label>
                          <textarea id="text20" rows="8"></textarea>
                      </div>
        </div>
</div>



<div class="window" style="margin: 32px; width: 250px">
                 <div class="title-bar">
                 <div class="title-bar-text">Pildora 98.css</div>
                 <div class="title-bar-controls">
                     <button aria-label="Minimize"></button>
                     <button aria-label="Maximize"></button>
                     <button aria-label="Close"></button>
                </div>
                </div>
                 <div class="window-body">
                  <p>Seleccion de Poder</p>
                  <div class="field-row" style="width: 300px">
                    <label for="range21">Poder:</label>
                    <label for="range22"></label>
                       <input id="range22" type="range" min="1" max="11" value="5" />
                    <label for="range23">Tanos</label>
                 </div>   
             </div>
           </div>

           <div class="window" style="margin: 32px; width: 250px">
           <div class="title-bar">
              <div class="title-bar-text">Pildora 98.css</div>
                 <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                 </div>
                 </div>
            <div class="window-body">
                     <p>Creacion del Superheroes</p>
                         <section class="field-row" style="justify-content: flex-end">
                         <button><a href="yo">ok</a></button>
                         </section>
             </div>
             </div>
            