<section> 

      <div class="window" style="margin: 32px; width: 250px">
           <div class="title-bar">
              <div class="title-bar-text">Pildora 98.css</div>
                 <div class="title-bar-controls">
                    <button aria-label="Minimize"></button>
                    <button aria-label="Maximize"></button>
                    <button aria-label="Close"></button>
                 </div>
                 </div>
            <div class="window-body">
                     <p>Bienvenidos Compañeros</p>
                         <section class="field-row" style="justify-content: flex-end">
                         <button>OK</button>
                         <button>Cancel</button>
                         </section>
             </div>
             </div>
             <div class="window" style="margin: 32px; width: 250px">
                <div class="title-bar">
                    <div class="title-bar-text">Pildora 98.css</div>
                      <div class="title-bar-controls">
                         <button aria-label="Minimize"></button>
                         <button aria-label="Maximize"></button>
                         <button aria-label="Close"></button>
                </div>
                </div>
            <div class="window-body">
                     <p>Preparados para lo Vintage</p>
                          <section class="field-row" style="justify-content: flex-end">
                          <button>Listos</button>
                          <button disabled>Ocultado</button>
                          </section>
            </div>
       </div>
            <div class="window" style="margin: 32px; width: 250px">
                <div class="title-bar">
                    <div class="title-bar-text">Pildora 98.css</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                 <div class="window-body">
                    <p>En sus marcas</p>
                       <div class="field-row">
                         <input id="radio5" type="radio" name="first-example">
                         <label for="radio5">Yes</label>
                       </div>
                       <div class="field-row">
                         <input id="radio6" type="radio" name="first-example">
                         <label for="radio6">No</label>
                         <div class="field-row">
                             <a href="98.css2">Preparados</a>
                         </div>
                        </div>
                </div>
             </div>
    </section>