<main style="opacity: 1.05;">
      <div class="loader-spacer"></div>
              <img class="image" src="/logoWindows.png" alt="">
              <div class="logo">
                <div class="top">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Bienvenido a </font>
                     </font>
                        <span aria-hidden="true" class="tm">
                         <font style="vertical-align: inherit;">
                         <font style="vertical-align: inherit;">®</font>
                        </font>
                    </span>
                </div>
                 <div class="middle">
                     <font style="vertical-align: inherit;">
                     <font style="vertical-align: inherit;">Edu Rus </font>
                     </font>
                        <span aria-hidden="true" class="tm">
                            <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">®</font>
                            </font>
                         </span>
                         <span aria-hidden="true" class="xp">
                             <font style="vertical-align: inherit;">
                             <font style="vertical-align: inherit;">xp</font>
                             </font>
                        </span>
                    </div>
        <div class="bottom">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Página principal</font>
                    </font>
        </div>
        </div>

        <div class="loader">
                <div class="sr-only">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;"></font>
                    </font>
                </div>
        <div class="mask">
              <div class="progress" style="left: 24px;"></div>
        </div>
        </div>

        <div class="loading-note" style="opacity: 0.91;">
              <font style="vertical-align: inherit;">
              <font style="vertical-align: inherit;">(No espereis a que funcione nada)</font>
              </font>
        </div>

       <footer>
           <div>
                <font style="vertical-align: inherit;">
                <font style="vertical-align: inherit;">Derechos de autor © Eduardo Rus</font>
                </font>
            </div>

          <div>
                <a href="98.css">
                    <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Empezamos </font>
                    </font>
                 </a> 
                <span aria-hidden="true">
                <font style="vertical-align: inherit;">
                </font>
                </font>
                </span>
            
             </div>
        </footer>

    </main>